language: cpp
dist: xenial
sudo: required
compiler:
  - gcc
  - clang
env:
  - CMAKE_FLAGS="-DWITH_SDL2=FALSE"
  - CMAKE_FLAGS="-DWITH_SDL2=TRUE"
  - CMAKE_FLAGS="-DWITH_GTK2=FALSE -DWITH_GTK3=TRUE"
  - CMAKE_FLAGS="-DWITH_ICONV=FALSE"
  - CMAKE_FLAGS="-DSTANDALONE=TRUE"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake libsdl1.2-dev libsdl-image1.2-dev libsdl-mixer1.2-dev libsdl-ttf2.0-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev liblua5.1-0-dev libgtk2.0-dev libgtk-3-dev
script:
  - mkdir build
  - cd build
  - cmake ${CMAKE_FLAGS} ..
  - make
