Source: instead
Section: games
Priority: optional
Maintainer: Peter Kosyh <p.kosyh@gmail.com>
Build-Depends: debhelper (>= 7), pkg-config, liblua5.1-dev, libsdl1.2-dev, libsdl-ttf2.0-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, zlib1g-dev
Standards-Version: 3.8.3
Homepage: http://instead.sourceforge.net

Package: instead
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple text adventures/visual novels engine
 Visual novell/text quest-like engine.

Package: instead-doc
Architecture: all
Description: instead: text adventures/visual novels engine
 Documentation.
